## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [23]:
sample_list_1=random.sample(range(100),80)
print(sample_list_1)
len(sample_list_1)

[32, 2, 24, 94, 5, 21, 68, 27, 22, 6, 17, 10, 44, 15, 0, 12, 61, 69, 30, 37, 33, 47, 63, 41, 93, 59, 29, 8, 88, 70, 72, 55, 64, 85, 57, 7, 26, 95, 14, 75, 34, 46, 48, 52, 92, 1, 89, 98, 54, 81, 76, 79, 90, 53, 91, 3, 18, 45, 82, 66, 28, 84, 35, 25, 65, 49, 71, 73, 16, 38, 19, 60, 56, 31, 20, 80, 58, 99, 11, 36]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here

set1=set(sample_list_1)
print(set1)

{0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 41, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 79, 80, 81, 82, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [27]:


sample_list_2=[random.randint(0,100) for i in range(80)]

print(sample_list_2)

len(sample_list_2)

[25, 10, 62, 39, 55, 13, 37, 86, 59, 75, 65, 51, 21, 72, 18, 16, 51, 58, 74, 23, 37, 20, 53, 69, 88, 31, 18, 73, 50, 57, 48, 61, 24, 47, 47, 51, 29, 90, 13, 59, 9, 89, 92, 44, 28, 83, 46, 37, 88, 78, 43, 20, 41, 40, 7, 35, 64, 25, 42, 97, 26, 15, 98, 4, 7, 12, 21, 99, 6, 20, 90, 13, 88, 7, 68, 47, 50, 34, 79, 4]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here

set2=set(sample_list_2)
print(set2)

len(set2)

{4, 6, 7, 9, 10, 12, 13, 15, 16, 18, 20, 21, 23, 24, 25, 26, 28, 29, 31, 34, 35, 37, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 53, 55, 57, 58, 59, 61, 62, 64, 65, 68, 69, 72, 73, 74, 75, 78, 79, 83, 86, 88, 89, 90, 92, 97, 98, 99}

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [34]:
# Your code here
set3=set1-set2
print(set3)

{0, 1, 2, 3, 5, 8, 11, 14, 17, 19, 22, 27, 30, 32, 33, 36, 38, 45, 49, 52, 54, 56, 60, 63, 66, 70, 71, 76, 80, 81, 82, 84, 85, 91, 93, 94, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [35]:
# Your code here

set4=set2-set1
print(set4)

{97, 4, 39, 40, 9, 42, 43, 74, 13, 78, 50, 51, 83, 86, 23, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [37]:
# Your code here

set5=set1.intersection(set2)
print(set5)

{6, 7, 10, 12, 15, 16, 18, 20, 21, 24, 25, 26, 28, 29, 31, 34, 35, 37, 41, 44, 46, 47, 48, 53, 55, 57, 58, 59, 61, 64, 65, 68, 69, 72, 73, 75, 79, 88, 89, 90, 92, 98, 99}
43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [42]:
# Your code here

print(len(set1))  #set1==80
print(len(set2))  #set2==59
print(len(set3)) #set3=set1-set2=37
print(len(set4)) #set4=set2-set1=16 
print(len(set5)) #intersection==43

80
59
37
16
43

#### Create an empty set called `set6`.

In [43]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [47]:
# Your code here

set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 41, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 79, 80, 81, 82, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99}

#### Check if `set1` and `set6` are equal.

In [48]:
# Your code here

print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [51]:

check1=set2.issubset(set1)
print(check1)

check2=set3.issubset(set1)
print(check2)

True
False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [55]:
# Your code here

aggregate1=set3.union(set4).union(set5)

aggregate2=set1.union(set2)

print(aggregate1==aggregate2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [71]:

set1.pop()
print(set1)

{6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 41, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 79, 80, 81, 82, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [73]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


set0=set1-set(list_to_remove)
print(set0)

{6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 44, 45, 46, 47, 48, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 68, 70, 72, 73, 75, 76, 80, 82, 84, 85, 88, 90, 92, 93, 94, 95, 98}