# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
import statistics 
from scipy.stats import ttest_1samp
from scipy.stats import norm
import math

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
employees=pd.read_csv('/Users/abc/Portfolio/module-2/2.7 Hypothesis-Testing/employees chicago.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
employees.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
employees['Salary or Hourly'].value_counts().reset_index()

    index  Salary or Hourly
0  Salary             25528
1  Hourly              8174

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
employees.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

In [7]:
employees.groupby('Department')['Name'].agg('count').reset_index()

             Department   Name
0          ADMIN HEARNG     38
1         ANIMAL CONTRL     75
2              AVIATION   1856
3     BOARD OF ELECTION    111
4       BOARD OF ETHICS      8
5         BUDGET & MGMT     44
6             BUILDINGS    258
7      BUSINESS AFFAIRS    167
8            CITY CLERK     88
9          CITY COUNCIL    362
10                 COPA    123
11     CULTURAL AFFAIRS     74
12                 DAIS   1033
13         DISABILITIES     28
14     FAMILY & SUPPORT    656
15              FINANCE    544
16                 FIRE   4627
17               HEALTH    467
18              HOUSING     66
19   HOUSING & ECON DEV    154
20      HUMAN RELATIONS     17
21      HUMAN RESOURCES     75
22        INSPECTOR GEN     95
23                  LAW    398
24    LICENSE APPL COMM      1
25       MAYOR'S OFFICE    104
26                 OEMC   1737
27               POLICE  13848
28         POLICE BOARD      2
29          PROCUREMENT     84
30       PUBLIC LIBRARY   1088
31  PUBLIC SAFETY ADMIN    244
32        STREETS & SAN   2175
33           TRANSPORTN   1113
34            TREASURER     28
35          WATER MGMNT   1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [17]:
# whether the hourly wage of all hourly workers is significantly different from $30/hr.

# null hypothesis: mean value for the hourly wage is $30/hr.
# alternative hypothesis: the mean value for the hourly wage is higher or lower than $30/hr.
# test ( with default confidence level: 95%)



df = employees.dropna(axis=0, subset=['Hourly Rate'])
series=df['Hourly Rate']

stat,pval=ttest_1samp(series,30)

print('2 sided P-value is: {}'.format(pval))
print('stat is: {}'.format(stat))


'''
31.2 is not a real dollar value number 
the test result shows a significant difference (stat value: 31.2) of the real hourly rate 
from the $30/hr as a null hypothesis. 
'''


if (pval*0.01) > 0.05:
    print('Accept the Null hypothesis:the mean value for the hourly wage is $30/hr.')
else:
    print('Reject the Null hypothesis,use the alternative hypothesis: the mean value for the hourly wage is higher or lower than $30/hr.')



# perform the hypothesis test for a 95% two sided confidence interval.
# stdev=statistics.stdev(series)

conf_interval=norm.interval(0.95)

conf_interval

2 sided P-value is: 3.825475847673794e-202
stat is: 31.211500329216044
Reject the Null hypothesis,use the alternative hypothesis: the mean value for the hourly wage is higher or lower than $30/hr.

(-1.959963984540054, 1.959963984540054)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [20]:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [35]:
# whether salaries this year are higher than the mean salary of $86000/year last year for all salaried employees.


# null hypothesis: mean value for the annul salary this year equals that of last year = $86000
# alternative hypothesis: mean value for the annul salary this year is greater than last year = $86000
# test ( with default confidence level: 95%)


# clean the data
filtered=employees[(employees['Department']=='POLICE')&(employees['Salary or Hourly']=='Salary')]

series1=filtered['Annual Salary']
series1

stat,pval=ttest_1samp(series1,86000)

print('1 sided P-value is: {}'.format(pval/2))
print('stat is: {}'.format(stat))


if (pval/2*0.01) > 0.05:
    print('Accept the Null hypothesis:mean value for the annul salary this year equals that of last year = $86000.')
else:
    print('Reject the Null hypothesis,use the alternative hypothesis: mean value for the annul salary this year is greater than last year = $86000.')

1 sided P-value is: 6.119566952121482e-76
stat is: 18.51748561981861
Reject the Null hypothesis,use the alternative hypothesis: mean value for the annul salary this year is greater than last year = $86000.

Using the `crosstab` function, find the department that has the most hourly workers.

In [75]:

filtered1= employees.dropna(axis=0, subset=['Hourly Rate'])

most=pd.crosstab(filtered1.Department, filtered1['Salary or Hourly']).idxmax(axis = 0)

most

Salary or Hourly
Hourly    STREETS & SAN
dtype: object

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [79]:
# clean data
filtered2=filtered1[filtered1['Department']=='STREETS & SAN']
series2=filtered2['Hourly Rate']



# null hypothesis: most value for the hourly wage in STREETS & SAN department is $35/hour
# alternative hypothesis: most value for the hourly wage in STREETS & SAN department is less than $35/hour
# test ( with default confidence level: 95%)


stat,pval=ttest_1samp(series2,35)

print('1 sided P-value is: {}'.format(pval/2))
print('stat is: {}'.format(stat))


if (pval/2*0.01) > 0.05:
    print('Accept the Null hypothesis:most value for the hourly wage in STREETS & SAN department is $35/hour.')
else:
    print('Reject the Null hypothesis,use the alternative hypothesis: most value for the hourly wage in STREETS & SAN department is less than $35/hour.')

1 sided P-value is: 3.2902372218867895e-05
stat is: 4.000138803968834
Reject the Null hypothesis,use the alternative hypothesis: most value for the hourly wage in STREETS & SAN department is less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [105]:
from scipy.stats import t

filtered3=employees.dropna(axis=0, subset=['Hourly Rate'])
series3=filtered3['Hourly Rate']



mean3=np.mean(series3)     # mean of the whole poplulation
stdev3=statistics.stdev(series3)   # standard deviation of the whole poplulation


T=t.interval(alpha=0.95, df=len(series3)-1,loc=mean3, scale=stdev3)  # as there is no sample mean, I'll use population mean


print(T)

print('I am 95% confident that the average amount of hourly rate of all hourly workers is between ${}/hour and ${}/hour.'.format(T[0],T[1]))

(8.54340723473366, 60.62949220250637)
I am 95% confident that the average amount of hourly rate of all hourly workers is between $8.54340723473366/hour and $60.62949220250637/hour.

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [106]:
filtered4=employees[(employees['Department']=='POLICE')&(employees['Salary or Hourly']=='Salary')]
series4=filtered4['Annual Salary']

mean4=np.mean(series4)    
stdev4=statistics.stdev(series4)  

T_police=t.interval(alpha=0.95, df=len(series4)-1,loc=mean4, scale=stdev4)  # as there is no sample mean, I'll use population mean

print(T_police)

print('I am 95% confident that the average annual amount of all salaried employees in POLICE department is between ${} and ${}.'.format(T_police[0],T_police[1]))

(53561.39196440488, 124106.84588281735)
I am 95% confident that the average annual amount of all salaried employees in POLICE department is between $53561.39196440488 and $124106.84588281735.

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: